<section id="portfolio">
    <h3>PORTFOLIO</h3>
    <p>Some of my best projects so for</p>
    <hr />
    <div>
      <article>
        <img
          src="https://i1.faceprep.in/ProGrad/Coding-icon.svg"
          alt="photo"
        />
        <h4>PERSONAL BLOG</h4>
        <p>My blog consists of my strenghts and skills</p>
      </article>
      <article>
        <img
          src="https://i1.faceprep.in/ProGrad/Coding-icon.svg"
          alt="photo"
        />
        <h4>TIC TAC TOE</h4>
        <p>A complete Tic Tac Toe game with GUI using JAVA</p>
      </article>
      <article>
        <img
          src="https://i1.faceprep.in/ProGrad/Coding-icon.svg"
          alt="photo"
        />
        <h4>TIME TABLE GENERATOR</h4>
        <p>A web application for automatic timetable generation</p>
      </article>
    </div>
  </section>